{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<section class="hero">
  <div class="hero-body has-text-centered">
    <div class="container">
      <div class="box">
        <p class="p-5">
          Hi {{ user.username }}!
        </p>
      </div>
    </div>
  </div>
</section>
{% else %}
<section class="hero">
  <div class="hero-body has-text-centered">
    <div class="container">
      <div class="box">
        <p class="p-5">
          You are not logged in
        </p>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}
